openapi: 3.2.0
info:
  title: PeerTube Player Settings API
  version: 8.1.0
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
  description: The PeerTube API is built on HTTP(S) and is RESTful.
servers:
- url: https://peertube2.cpy.re
  description: Live Test Server (live data - latest nightly version)
- url: https://peertube3.cpy.re
  description: Live Test Server (live data - latest RC version)
- url: https://peertube.cpy.re
  description: Live Test Server (live data - stable version)
tags:
- name: Player Settings
  description: Operations dealing with video player settings for videos and channels.
paths:
  /api/v1/player-settings/videos/{id}:
    get:
      summary: Get video player settings
      description: Get player settings for a specific video. Returns video-specific settings merged with channel player settings.
      operationId: getVideoPlayerSettings
      tags:
      - Player Settings
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      - name: raw
        in: query
        required: false
        description: Return raw settings without merging channel defaults
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerVideoSettings'
        '404':
          description: video not found
    put:
      summary: Update video player settings
      description: Update player settings for a specific video
      operationId: updateVideoPlayerSettings
      security:
      - OAuth2: []
      tags:
      - Player Settings
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerVideoSettingsUpdate'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerVideoSettings'
        '404':
          description: video not found
  /api/v1/player-settings/video-channels/{channelHandle}:
    get:
      summary: Get channel player settings
      description: Get player settings for a video channel.
      operationId: getChannelPlayerSettings
      tags:
      - Player Settings
      parameters:
      - $ref: '#/components/parameters/channelHandle'
      - name: raw
        in: query
        required: false
        description: Return raw settings without applying instance defaults
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerChannelSettings'
        '404':
          description: video channel not found
    put:
      summary: Update channel player settings
      description: Update default player settings for a video channel.
      operationId: updateChannelPlayerSettings
      security:
      - OAuth2: []
      tags:
      - Player Settings
      parameters:
      - $ref: '#/components/parameters/channelHandle'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerChannelSettingsUpdate'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerChannelSettings'
        '404':
          description: video channel not found
components:
  schemas:
    PlayerChannelSettingsUpdate:
      type: object
      properties:
        theme:
          $ref: '#/components/schemas/PlayerThemeChannelSetting'
      required:
      - theme
      description: Player settings update for a channel
    shortUUID:
      type: string
      description: translation of a uuid v4 with a bigger alphabet to have a shorter uuid
      example: 2y84q2MQUMWPbiEcxNXMgC
    PlayerChannelSettings:
      type: object
      properties:
        theme:
          $ref: '#/components/schemas/PlayerThemeChannelSetting'
      description: Player settings for a channel
    PlayerThemeVideoSetting:
      type: string
      enum:
      - channel-default
      - instance-default
      - galaxy
      - lucide
      description: "Player theme setting for a video:\n  - `channel-default` Use the channel default theme\n  - `instance-default` Use the instance default theme\n  - `galaxy` Use the galaxy theme\n  - `lucide` Use the lucide theme\n"
    PlayerThemeChannelSetting:
      type: string
      enum:
      - instance-default
      - galaxy
      - lucide
      description: "Player theme setting for a channel:\n  - `instance-default` Use the instance default theme\n  - `galaxy` Use the galaxy theme\n  - `lucide` Use the lucide theme\n"
    UUIDv4:
      type: string
      format: uuid
      example: 9c9de5e8-0a1e-484a-b099-e80766180a6d
      pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      minLength: 36
      maxLength: 36
    PlayerVideoSettings:
      type: object
      properties:
        theme:
          $ref: '#/components/schemas/PlayerThemeVideoSetting'
      description: Player settings for a video
    PlayerVideoSettingsUpdate:
      type: object
      properties:
        theme:
          $ref: '#/components/schemas/PlayerThemeVideoSetting'
      required:
      - theme
      description: Player settings update for a video
    id:
      type: integer
      minimum: 1
      example: 42
  parameters:
    idOrUUID:
      name: id
      in: path
      required: true
      description: The object id, uuid or short uuid
      schema:
        oneOf:
        - $ref: '#/components/schemas/id'
        - $ref: '#/components/schemas/UUIDv4'
        - $ref: '#/components/schemas/shortUUID'
    channelHandle:
      name: channelHandle
      in: path
      required: true
      description: The video channel handle
      schema:
        type: string
        example: my_username | my_username@example.com
  securitySchemes:
    OAuth2:
      description: 'Authenticating via OAuth requires the following steps:

        - Have an activated account

        - [Generate] an access token for that account at `/api/v1/users/token`.

        - Make requests with the *Authorization: Bearer <token\>* header

        - Profit, depending on the role assigned to the account


        Note that the __access token is valid for 1 day__ and is given

        along with a __refresh token valid for 2 weeks__.


        [Generate]: https://docs.joinpeertube.org/api/rest-getting-started

        '
      type: oauth2
      flows:
        password:
          tokenUrl: /api/v1/users/token
          scopes:
            admin: Admin scope
            moderator: Moderator scope
            user: User scope
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
x-tagGroups:
- name: Static endpoints
  tags:
  - Static Video Files
- name: Download
  tags:
  - Video Download
- name: Feeds
  tags:
  - Video Feeds
- name: Auth
  tags:
  - Register
  - Session
- name: Accounts
  tags:
  - Accounts
  - Users
  - User Exports
  - User Imports
  - My User
  - My Subscriptions
  - My Notifications
  - My History
- name: Videos
  tags:
  - Video
  - Video Upload
  - Video Imports
  - Video Captions
  - Video Chapters
  - Video Channels
  - Video Comments
  - Video Rates
  - Video Playlists
  - Video Stats
  - Ownership Change
  - Video Mirroring
  - Video Files
  - Video Transcoding
  - Live Videos
  - Channels Sync
  - Video Passwords
  - Video Embed Privacy
- name: Search
  tags:
  - Search
- name: Moderation
  tags:
  - Abuses
  - Video Blocks
  - Account Blocklist
  - Server Blocklist
  - Automatic Tags
  - Watched Words
- name: Instance
  tags:
  - Config
  - Client Config
  - Homepage
  - Instance Follows
  - Instance Redundancy
  - Plugins
  - Stats
  - Logs
  - Job
- name: Remote Jobs
  tags:
  - Runner Registration Token
  - Runner Jobs
  - Runners
