openapi: 3.2.0
info:
  title: PeerTube Plugins API
  version: 8.1.0
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
  description: The PeerTube API is built on HTTP(S) and is RESTful.
servers:
- url: https://peertube2.cpy.re
  description: Live Test Server (live data - latest nightly version)
- url: https://peertube3.cpy.re
  description: Live Test Server (live data - latest RC version)
- url: https://peertube.cpy.re
  description: Live Test Server (live data - stable version)
tags:
- name: Plugins
  description: Managing plugins installed from a local path or from NPM, or search for new ones.
  externalDocs:
    url: https://docs.joinpeertube.org/api/plugins
paths:
  /api/v1/plugins:
    get:
      tags:
      - Plugins
      summary: List plugins
      operationId: getPlugins
      security:
      - OAuth2:
        - admin
      parameters:
      - name: pluginType
        in: query
        schema:
          type: integer
      - name: uninstalled
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginResponse'
  /api/v1/plugins/available:
    get:
      tags:
      - Plugins
      summary: List available plugins
      operationId: getAvailablePlugins
      security:
      - OAuth2:
        - admin
      parameters:
      - name: search
        in: query
        schema:
          type: string
      - name: pluginType
        in: query
        schema:
          type: integer
      - name: currentPeerTubeEngine
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginResponse'
        '503':
          description: plugin index unavailable
  /api/v1/plugins/install:
    post:
      tags:
      - Plugins
      summary: Install a plugin
      operationId: addPlugin
      security:
      - OAuth2:
        - admin
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  npmName:
                    type: string
                    example: peertube-plugin-auth-ldap
                required:
                - npmName
                additionalProperties: false
              - type: object
                properties:
                  path:
                    type: string
                required:
                - path
                additionalProperties: false
      responses:
        '204':
          description: successful operation
        '400':
          description: should have either `npmName` or `path` set
  /api/v1/plugins/update:
    post:
      tags:
      - Plugins
      summary: Update a plugin
      operationId: updatePlugin
      security:
      - OAuth2:
        - admin
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  npmName:
                    type: string
                    example: peertube-plugin-auth-ldap
                required:
                - npmName
                additionalProperties: false
              - type: object
                properties:
                  path:
                    type: string
                required:
                - path
                additionalProperties: false
      responses:
        '204':
          description: successful operation
        '400':
          description: should have either `npmName` or `path` set
        '404':
          description: existing plugin not found
  /api/v1/plugins/uninstall:
    post:
      tags:
      - Plugins
      summary: Uninstall a plugin
      operationId: uninstallPlugin
      security:
      - OAuth2:
        - admin
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                npmName:
                  type: string
                  description: name of the plugin/theme in its package.json
                  example: peertube-plugin-auth-ldap
              required:
              - npmName
      responses:
        '204':
          description: successful operation
        '404':
          description: existing plugin not found
  /api/v1/plugins/{npmName}:
    get:
      tags:
      - Plugins
      summary: Get a plugin
      operationId: getPlugin
      security:
      - OAuth2:
        - admin
      parameters:
      - $ref: '#/components/parameters/npmName'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
        '404':
          description: plugin not found
  /api/v1/plugins/{npmName}/settings:
    put:
      tags:
      - Plugins
      summary: Set a plugin's settings
      security:
      - OAuth2:
        - admin
      parameters:
      - $ref: '#/components/parameters/npmName'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '204':
          description: successful operation
        '404':
          description: plugin not found
      operationId: putApiV1PluginsByNpmNameSettings
      x-operation-id-source: derived
  /api/v1/plugins/{npmName}/public-settings:
    get:
      tags:
      - Plugins
      summary: Get a plugin's public settings
      parameters:
      - $ref: '#/components/parameters/npmName'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          description: plugin not found
      operationId: getApiV1PluginsByNpmNamePublicSettings
      x-operation-id-source: derived
  /api/v1/plugins/{npmName}/registered-settings:
    get:
      tags:
      - Plugins
      summary: Get a plugin's registered settings
      security:
      - OAuth2:
        - admin
      parameters:
      - $ref: '#/components/parameters/npmName'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          description: plugin not found
      operationId: getApiV1PluginsByNpmNameRegisteredSettings
      x-operation-id-source: derived
components:
  schemas:
    PluginResponse:
      properties:
        total:
          type: integer
          example: 1
        data:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/Plugin'
    Plugin:
      properties:
        name:
          type: string
          example: peertube-plugin-auth-ldap
        type:
          type: integer
          description: '- `1`: PLUGIN

            - `2`: THEME

            '
          enum:
          - 1
          - 2
        latestVersion:
          type: string
          example: 0.0.3
        version:
          type: string
          example: 0.0.1
        enabled:
          type: boolean
        uninstalled:
          type: boolean
        peertubeEngine:
          type: string
          example: 2.2.0
        description:
          type: string
        homepage:
          type: string
          format: url
          example: https://framagit.org/framasoft/peertube/official-plugins/tree/master/peertube-plugin-auth-ldap
        settings:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  parameters:
    npmName:
      name: npmName
      in: path
      required: true
      description: name of the plugin/theme on npmjs.com or in its package.json
      schema:
        type: string
        example: peertube-plugin-auth-ldap
    start:
      name: start
      in: query
      required: false
      description: Offset used to paginate results
      schema:
        type: integer
        minimum: 0
    sort:
      name: sort
      in: query
      required: false
      description: Sort column
      schema:
        type: string
        example: -createdAt
    count:
      name: count
      in: query
      required: false
      description: Number of items to return
      schema:
        type: integer
        default: 15
        maximum: 100
        minimum: 1
  securitySchemes:
    OAuth2:
      description: 'Authenticating via OAuth requires the following steps:

        - Have an activated account

        - [Generate] an access token for that account at `/api/v1/users/token`.

        - Make requests with the *Authorization: Bearer <token\>* header

        - Profit, depending on the role assigned to the account


        Note that the __access token is valid for 1 day__ and is given

        along with a __refresh token valid for 2 weeks__.


        [Generate]: https://docs.joinpeertube.org/api/rest-getting-started

        '
      type: oauth2
      flows:
        password:
          tokenUrl: /api/v1/users/token
          scopes:
            admin: Admin scope
            moderator: Moderator scope
            user: User scope
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
x-tagGroups:
- name: Static endpoints
  tags:
  - Static Video Files
- name: Download
  tags:
  - Video Download
- name: Feeds
  tags:
  - Video Feeds
- name: Auth
  tags:
  - Register
  - Session
- name: Accounts
  tags:
  - Accounts
  - Users
  - User Exports
  - User Imports
  - My User
  - My Subscriptions
  - My Notifications
  - My History
- name: Videos
  tags:
  - Video
  - Video Upload
  - Video Imports
  - Video Captions
  - Video Chapters
  - Video Channels
  - Video Comments
  - Video Rates
  - Video Playlists
  - Video Stats
  - Ownership Change
  - Video Mirroring
  - Video Files
  - Video Transcoding
  - Live Videos
  - Channels Sync
  - Video Passwords
  - Video Embed Privacy
- name: Search
  tags:
  - Search
- name: Moderation
  tags:
  - Abuses
  - Video Blocks
  - Account Blocklist
  - Server Blocklist
  - Automatic Tags
  - Watched Words
- name: Instance
  tags:
  - Config
  - Client Config
  - Homepage
  - Instance Follows
  - Instance Redundancy
  - Plugins
  - Stats
  - Logs
  - Job
- name: Remote Jobs
  tags:
  - Runner Registration Token
  - Runner Jobs
  - Runners
