openapi: 3.2.0
info:
  title: PeerTube Static Video Files API
  version: 8.1.0
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
  description: The PeerTube API is built on HTTP(S) and is RESTful.
servers:
- url: https://peertube2.cpy.re
  description: Live Test Server (live data - latest nightly version)
- url: https://peertube3.cpy.re
  description: Live Test Server (live data - latest RC version)
- url: https://peertube.cpy.re
  description: Live Test Server (live data - stable version)
tags:
- name: Static Video Files
paths:
  /static/web-videos/{filename}:
    get:
      tags:
      - Static Video Files
      summary: Get public Web Video file
      description: '**PeerTube >= 6.0**'
      parameters:
      - $ref: '#/components/parameters/staticFilename'
      responses:
        '200':
          description: successful operation
        '404':
          description: not found
      operationId: getStaticWebVideosByFilename
      x-operation-id-source: derived
  /static/web-videos/private/{filename}:
    get:
      tags:
      - Static Video Files
      summary: Get private Web Video file
      description: '**PeerTube >= 6.0**'
      parameters:
      - $ref: '#/components/parameters/staticFilename'
      - $ref: '#/components/parameters/videoFileToken'
      security:
      - OAuth2: []
      responses:
        '200':
          description: successful operation
        '403':
          description: invalid auth
        '404':
          description: not found
      operationId: getStaticWebVideosPrivateByFilename
      x-operation-id-source: derived
  /static/streaming-playlists/hls/{filename}:
    get:
      tags:
      - Static Video Files
      summary: Get public HLS video file
      parameters:
      - $ref: '#/components/parameters/staticFilename'
      security:
      - OAuth2: []
      responses:
        '200':
          description: successful operation
        '403':
          description: invalid auth
        '404':
          description: not found
      operationId: getStaticStreamingPlaylistsHlsByFilename
      x-operation-id-source: derived
  /static/streaming-playlists/hls/private/{filename}:
    get:
      tags:
      - Static Video Files
      summary: Get private HLS video file
      parameters:
      - $ref: '#/components/parameters/staticFilename'
      - $ref: '#/components/parameters/videoFileToken'
      - $ref: '#/components/parameters/reinjectVideoFileToken'
      security:
      - OAuth2: []
      responses:
        '200':
          description: successful operation
        '403':
          description: invalid auth
        '404':
          description: not found
      operationId: getStaticStreamingPlaylistsHlsPrivateByFilename
      x-operation-id-source: derived
components:
  parameters:
    videoFileToken:
      name: videoFileToken
      in: query
      required: false
      description: Video file token [generated](#operation/requestVideoToken) by PeerTube so you don't need to provide an OAuth token in the request header.
      schema:
        type: string
    staticFilename:
      name: filename
      in: path
      required: true
      description: Filename
      schema:
        type: string
    reinjectVideoFileToken:
      name: reinjectVideoFileToken
      in: query
      required: false
      description: Ask the server to reinject videoFileToken in URLs in m3u8 playlist
      schema:
        type: boolean
  securitySchemes:
    OAuth2:
      description: 'Authenticating via OAuth requires the following steps:

        - Have an activated account

        - [Generate] an access token for that account at `/api/v1/users/token`.

        - Make requests with the *Authorization: Bearer <token\>* header

        - Profit, depending on the role assigned to the account


        Note that the __access token is valid for 1 day__ and is given

        along with a __refresh token valid for 2 weeks__.


        [Generate]: https://docs.joinpeertube.org/api/rest-getting-started

        '
      type: oauth2
      flows:
        password:
          tokenUrl: /api/v1/users/token
          scopes:
            admin: Admin scope
            moderator: Moderator scope
            user: User scope
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
x-tagGroups:
- name: Static endpoints
  tags:
  - Static Video Files
- name: Download
  tags:
  - Video Download
- name: Feeds
  tags:
  - Video Feeds
- name: Auth
  tags:
  - Register
  - Session
- name: Accounts
  tags:
  - Accounts
  - Users
  - User Exports
  - User Imports
  - My User
  - My Subscriptions
  - My Notifications
  - My History
- name: Videos
  tags:
  - Video
  - Video Upload
  - Video Imports
  - Video Captions
  - Video Chapters
  - Video Channels
  - Video Comments
  - Video Rates
  - Video Playlists
  - Video Stats
  - Ownership Change
  - Video Mirroring
  - Video Files
  - Video Transcoding
  - Live Videos
  - Channels Sync
  - Video Passwords
  - Video Embed Privacy
- name: Search
  tags:
  - Search
- name: Moderation
  tags:
  - Abuses
  - Video Blocks
  - Account Blocklist
  - Server Blocklist
  - Automatic Tags
  - Watched Words
- name: Instance
  tags:
  - Config
  - Client Config
  - Homepage
  - Instance Follows
  - Instance Redundancy
  - Plugins
  - Stats
  - Logs
  - Job
- name: Remote Jobs
  tags:
  - Runner Registration Token
  - Runner Jobs
  - Runners
