openapi: 3.2.0
info:
  title: PeerTube Video Transcoding API
  version: 8.1.0
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
  description: The PeerTube API is built on HTTP(S) and is RESTful.
servers:
- url: https://peertube2.cpy.re
  description: Live Test Server (live data - latest nightly version)
- url: https://peertube3.cpy.re
  description: Live Test Server (live data - latest RC version)
- url: https://peertube.cpy.re
  description: Live Test Server (live data - stable version)
tags:
- name: Video Transcoding
  description: Video transcoding related operations
paths:
  /api/v1/videos/{id}/studio/edit:
    post:
      summary: Create a studio task
      tags:
      - Video Transcoding
      description: Create a task to edit a video (cut, add intro/outro etc)
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VideoStudioCreateTask'
      responses:
        '204':
          description: successful operation
        '400':
          description: incorrect parameters
        '404':
          description: video not found
      operationId: postApiV1VideosByIdStudioEdit
      x-operation-id-source: derived
  /api/v1/videos/{id}/transcoding:
    post:
      summary: Create a transcoding job
      security:
      - OAuth2:
        - admin
      tags:
      - Video Transcoding
      operationId: createVideoTranscoding
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transcodingType:
                  type: string
                  enum:
                  - hls
                  - web-video
                forceTranscoding:
                  type: boolean
                  default: false
                  description: If the video is stuck in transcoding state, do it anyway
              required:
              - transcodingType
      responses:
        '204':
          description: successful operation
        '404':
          description: video does not exist
components:
  parameters:
    idOrUUID:
      name: id
      in: path
      required: true
      description: The object id, uuid or short uuid
      schema:
        oneOf:
        - $ref: '#/components/schemas/id'
        - $ref: '#/components/schemas/UUIDv4'
        - $ref: '#/components/schemas/shortUUID'
  schemas:
    shortUUID:
      type: string
      description: translation of a uuid v4 with a bigger alphabet to have a shorter uuid
      example: 2y84q2MQUMWPbiEcxNXMgC
    VideoStudioCreateTask:
      type: array
      items:
        anyOf:
        - title: cut
          type: object
          properties:
            name:
              type: string
              enum:
              - cut
            options:
              type: object
              properties:
                start:
                  type: integer
                end:
                  type: integer
        - title: add-intro
          type: object
          properties:
            name:
              type: string
              enum:
              - add-intro
            options:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        - title: add-outro
          type: object
          properties:
            name:
              type: string
              enum:
              - add-outro
            options:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        - title: add-watermark
          type: object
          properties:
            name:
              type: string
              enum:
              - add-watermark
            options:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        - title: remove-segments
          type: object
          properties:
            name:
              type: string
              enum:
              - remove-segments
            options:
              type: object
              required:
              - segments
              properties:
                segments:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                    - start
                    - end
                    properties:
                      start:
                        type: integer
                        minimum: 0
                      end:
                        type: integer
                        minimum: 1
    UUIDv4:
      type: string
      format: uuid
      example: 9c9de5e8-0a1e-484a-b099-e80766180a6d
      pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      minLength: 36
      maxLength: 36
    id:
      type: integer
      minimum: 1
      example: 42
  securitySchemes:
    OAuth2:
      description: 'Authenticating via OAuth requires the following steps:

        - Have an activated account

        - [Generate] an access token for that account at `/api/v1/users/token`.

        - Make requests with the *Authorization: Bearer <token\>* header

        - Profit, depending on the role assigned to the account


        Note that the __access token is valid for 1 day__ and is given

        along with a __refresh token valid for 2 weeks__.


        [Generate]: https://docs.joinpeertube.org/api/rest-getting-started

        '
      type: oauth2
      flows:
        password:
          tokenUrl: /api/v1/users/token
          scopes:
            admin: Admin scope
            moderator: Moderator scope
            user: User scope
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
x-tagGroups:
- name: Static endpoints
  tags:
  - Static Video Files
- name: Download
  tags:
  - Video Download
- name: Feeds
  tags:
  - Video Feeds
- name: Auth
  tags:
  - Register
  - Session
- name: Accounts
  tags:
  - Accounts
  - Users
  - User Exports
  - User Imports
  - My User
  - My Subscriptions
  - My Notifications
  - My History
- name: Videos
  tags:
  - Video
  - Video Upload
  - Video Imports
  - Video Captions
  - Video Chapters
  - Video Channels
  - Video Comments
  - Video Rates
  - Video Playlists
  - Video Stats
  - Ownership Change
  - Video Mirroring
  - Video Files
  - Video Transcoding
  - Live Videos
  - Channels Sync
  - Video Passwords
  - Video Embed Privacy
- name: Search
  tags:
  - Search
- name: Moderation
  tags:
  - Abuses
  - Video Blocks
  - Account Blocklist
  - Server Blocklist
  - Automatic Tags
  - Watched Words
- name: Instance
  tags:
  - Config
  - Client Config
  - Homepage
  - Instance Follows
  - Instance Redundancy
  - Plugins
  - Stats
  - Logs
  - Job
- name: Remote Jobs
  tags:
  - Runner Registration Token
  - Runner Jobs
  - Runners
