openapi: 3.2.0
info:
  title: PeerTube Video Stats API
  version: 8.1.0
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
  description: The PeerTube API is built on HTTP(S) and is RESTful.
servers:
- url: https://peertube2.cpy.re
  description: Live Test Server (live data - latest nightly version)
- url: https://peertube3.cpy.re
  description: Live Test Server (live data - latest RC version)
- url: https://peertube.cpy.re
  description: Live Test Server (live data - stable version)
tags:
- name: Video Stats
  description: Video statistics
paths:
  /api/v1/videos/{id}/stats/overall:
    get:
      summary: Get overall stats of a video
      tags:
      - Video Stats
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      - name: startDate
        in: query
        description: Filter stats by start date
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Filter stats by end date
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoStatsOverall'
      operationId: getApiV1VideosByIdStatsOverall
      x-operation-id-source: derived
  /api/v1/videos/{id}/stats/user-agent:
    get:
      summary: Get user agent stats of a video
      tags:
      - Video Stats
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      - name: startDate
        in: query
        description: Filter stats by start date
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Filter stats by end date
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoStatsUserAgent'
      operationId: getApiV1VideosByIdStatsUserAgent
      x-operation-id-source: derived
  /api/v1/videos/{id}/stats/retention:
    get:
      summary: Get retention stats of a video
      tags:
      - Video Stats
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoStatsRetention'
      operationId: getApiV1VideosByIdStatsRetention
      x-operation-id-source: derived
  /api/v1/videos/{id}/stats/timeseries/{metric}:
    get:
      summary: Get timeserie stats of a video
      tags:
      - Video Stats
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      - name: metric
        in: path
        required: true
        description: The metric to get
        schema:
          type: string
          enum:
          - viewers
          - aggregateWatchTime
      - name: startDate
        in: query
        description: Filter stats by start date
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Filter stats by end date
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoStatsTimeserie'
      operationId: getApiV1VideosByIdStatsTimeseriesByMetric
      x-operation-id-source: derived
components:
  parameters:
    idOrUUID:
      name: id
      in: path
      required: true
      description: The object id, uuid or short uuid
      schema:
        oneOf:
        - $ref: '#/components/schemas/id'
        - $ref: '#/components/schemas/UUIDv4'
        - $ref: '#/components/schemas/shortUUID'
  schemas:
    shortUUID:
      type: string
      description: translation of a uuid v4 with a bigger alphabet to have a shorter uuid
      example: 2y84q2MQUMWPbiEcxNXMgC
    VideoStatsTimeserie:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
              value:
                type: number
    VideoStatsOverall:
      properties:
        averageWatchTime:
          type: number
        totalWatchTime:
          type: number
        viewersPeak:
          type: number
        totalViewers:
          type: number
        viewersPeakDate:
          type: string
          format: date-time
        countries:
          type: array
          items:
            type: object
            properties:
              isoCode:
                type: string
              viewers:
                type: number
        subdivisions:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              viewers:
                type: number
    VideoStatsRetention:
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              second:
                type: number
              retentionPercent:
                type: number
    UUIDv4:
      type: string
      format: uuid
      example: 9c9de5e8-0a1e-484a-b099-e80766180a6d
      pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      minLength: 36
      maxLength: 36
    VideoStatsUserAgent:
      properties:
        clients:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              viewers:
                type: number
        devices:
          type: array
          items:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/VideoStatsUserAgentDevice'
              viewers:
                type: number
        operatingSystem:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              viewers:
                type: number
    VideoStatsUserAgentDevice:
      enum:
      - console
      - embedded
      - mobile
      - smarttv
      - tablet
      - wearable
      - xr
      - desktop
    id:
      type: integer
      minimum: 1
      example: 42
  securitySchemes:
    OAuth2:
      description: 'Authenticating via OAuth requires the following steps:

        - Have an activated account

        - [Generate] an access token for that account at `/api/v1/users/token`.

        - Make requests with the *Authorization: Bearer <token\>* header

        - Profit, depending on the role assigned to the account


        Note that the __access token is valid for 1 day__ and is given

        along with a __refresh token valid for 2 weeks__.


        [Generate]: https://docs.joinpeertube.org/api/rest-getting-started

        '
      type: oauth2
      flows:
        password:
          tokenUrl: /api/v1/users/token
          scopes:
            admin: Admin scope
            moderator: Moderator scope
            user: User scope
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
x-tagGroups:
- name: Static endpoints
  tags:
  - Static Video Files
- name: Download
  tags:
  - Video Download
- name: Feeds
  tags:
  - Video Feeds
- name: Auth
  tags:
  - Register
  - Session
- name: Accounts
  tags:
  - Accounts
  - Users
  - User Exports
  - User Imports
  - My User
  - My Subscriptions
  - My Notifications
  - My History
- name: Videos
  tags:
  - Video
  - Video Upload
  - Video Imports
  - Video Captions
  - Video Chapters
  - Video Channels
  - Video Comments
  - Video Rates
  - Video Playlists
  - Video Stats
  - Ownership Change
  - Video Mirroring
  - Video Files
  - Video Transcoding
  - Live Videos
  - Channels Sync
  - Video Passwords
  - Video Embed Privacy
- name: Search
  tags:
  - Search
- name: Moderation
  tags:
  - Abuses
  - Video Blocks
  - Account Blocklist
  - Server Blocklist
  - Automatic Tags
  - Watched Words
- name: Instance
  tags:
  - Config
  - Client Config
  - Homepage
  - Instance Follows
  - Instance Redundancy
  - Plugins
  - Stats
  - Logs
  - Job
- name: Remote Jobs
  tags:
  - Runner Registration Token
  - Runner Jobs
  - Runners
