openapi: 3.2.0
info:
  title: PeerTube Watched Words API
  version: 8.1.0
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
  description: The PeerTube API is built on HTTP(S) and is RESTful.
servers:
- url: https://peertube2.cpy.re
  description: Live Test Server (live data - latest nightly version)
- url: https://peertube3.cpy.re
  description: Live Test Server (live data - latest RC version)
- url: https://peertube.cpy.re
  description: Live Test Server (live data - stable version)
tags:
- name: Watched Words
  description: Manage list of watched words to detect patterns on objects (like comments of videos)
paths:
  /api/v1/watched-words/accounts/{accountName}/lists:
    get:
      tags:
      - Watched Words
      summary: List account watched words
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2: []
      parameters:
      - name: accountName
        in: path
        required: true
        description: account name to list watched words
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WatchedWordsLists'
      operationId: getApiV1WatchedWordsAccountsByAccountNameLists
      x-operation-id-source: derived
    post:
      tags:
      - Watched Words
      summary: Add account watched words
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2: []
      parameters:
      - name: accountName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                listName:
                  type: string
                words:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  watchedWordsList:
                    type: object
                    properties:
                      id:
                        type: integer
      operationId: postApiV1WatchedWordsAccountsByAccountNameLists
      x-operation-id-source: derived
  /api/v1/watched-words/accounts/{accountName}/lists/{listId}:
    put:
      tags:
      - Watched Words
      summary: Update account watched words
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2: []
      parameters:
      - name: accountName
        in: path
        required: true
        schema:
          type: string
      - name: listId
        in: path
        required: true
        description: list of watched words to update
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                listName:
                  type: string
                words:
                  type: array
                  items:
                    type: string
      responses:
        '204':
          description: successful operation
      operationId: putApiV1WatchedWordsAccountsByAccountNameListsByListId
      x-operation-id-source: derived
    delete:
      tags:
      - Watched Words
      summary: Delete account watched words
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2: []
      parameters:
      - name: accountName
        in: path
        required: true
        schema:
          type: string
      - name: listId
        in: path
        required: true
        description: list of watched words to delete
        schema:
          type: string
      responses:
        '204':
          description: successful operation
      operationId: deleteApiV1WatchedWordsAccountsByAccountNameListsByListId
      x-operation-id-source: derived
  /api/v1/watched-words/server/lists:
    get:
      tags:
      - Watched Words
      summary: List server watched words
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2:
        - admin
        - moderator
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WatchedWordsLists'
      operationId: getApiV1WatchedWordsServerLists
      x-operation-id-source: derived
    post:
      tags:
      - Watched Words
      summary: Add server watched words
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2:
        - admin
        - moderator
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                listName:
                  type: string
                words:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  watchedWordsList:
                    type: object
                    properties:
                      id:
                        type: integer
      operationId: postApiV1WatchedWordsServerLists
      x-operation-id-source: derived
  /api/v1/watched-words/server/lists/{listId}:
    put:
      tags:
      - Watched Words
      summary: Update server watched words
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2:
        - admin
        - moderator
      parameters:
      - name: listId
        in: path
        required: true
        description: list of watched words to update
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                listName:
                  type: string
                words:
                  type: array
                  items:
                    type: string
      responses:
        '204':
          description: successful operation
      operationId: putApiV1WatchedWordsServerListsByListId
      x-operation-id-source: derived
    delete:
      tags:
      - Watched Words
      summary: Delete server watched words
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2:
        - admin
        - moderator
      parameters:
      - name: listId
        in: path
        required: true
        description: list of watched words to delete
        schema:
          type: string
      responses:
        '204':
          description: successful operation
      operationId: deleteApiV1WatchedWordsServerListsByListId
      x-operation-id-source: derived
components:
  schemas:
    id:
      type: integer
      minimum: 1
      example: 42
    WatchedWordsLists:
      properties:
        id:
          $ref: '#/components/schemas/id'
        listName:
          type: string
        words:
          type: array
          items:
            type: string
        updatedAt:
          type: string
          format: date-time
          example: '2021-05-04T08:01:01.502000+00:00'
        createdAt:
          type: string
          format: date-time
          example: '2021-05-04T08:01:01.502000+00:00'
  securitySchemes:
    OAuth2:
      description: 'Authenticating via OAuth requires the following steps:

        - Have an activated account

        - [Generate] an access token for that account at `/api/v1/users/token`.

        - Make requests with the *Authorization: Bearer <token\>* header

        - Profit, depending on the role assigned to the account


        Note that the __access token is valid for 1 day__ and is given

        along with a __refresh token valid for 2 weeks__.


        [Generate]: https://docs.joinpeertube.org/api/rest-getting-started

        '
      type: oauth2
      flows:
        password:
          tokenUrl: /api/v1/users/token
          scopes:
            admin: Admin scope
            moderator: Moderator scope
            user: User scope
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
x-tagGroups:
- name: Static endpoints
  tags:
  - Static Video Files
- name: Download
  tags:
  - Video Download
- name: Feeds
  tags:
  - Video Feeds
- name: Auth
  tags:
  - Register
  - Session
- name: Accounts
  tags:
  - Accounts
  - Users
  - User Exports
  - User Imports
  - My User
  - My Subscriptions
  - My Notifications
  - My History
- name: Videos
  tags:
  - Video
  - Video Upload
  - Video Imports
  - Video Captions
  - Video Chapters
  - Video Channels
  - Video Comments
  - Video Rates
  - Video Playlists
  - Video Stats
  - Ownership Change
  - Video Mirroring
  - Video Files
  - Video Transcoding
  - Live Videos
  - Channels Sync
  - Video Passwords
  - Video Embed Privacy
- name: Search
  tags:
  - Search
- name: Moderation
  tags:
  - Abuses
  - Video Blocks
  - Account Blocklist
  - Server Blocklist
  - Automatic Tags
  - Watched Words
- name: Instance
  tags:
  - Config
  - Client Config
  - Homepage
  - Instance Follows
  - Instance Redundancy
  - Plugins
  - Stats
  - Logs
  - Job
- name: Remote Jobs
  tags:
  - Runner Registration Token
  - Runner Jobs
  - Runners
