openapi: 3.2.0
info:
  title: PeerTube Automatic Tags API
  version: 8.1.0
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
  description: The PeerTube API is built on HTTP(S) and is RESTful.
servers:
- url: https://peertube2.cpy.re
  description: Live Test Server (live data - latest nightly version)
- url: https://peertube3.cpy.re
  description: Live Test Server (live data - latest RC version)
- url: https://peertube.cpy.re
  description: Live Test Server (live data - stable version)
tags:
- name: Automatic Tags
  description: Automatic tags set on objects (like comments or videos) by specific rules (external link, watched words, etc.)
paths:
  /api/v1/automatic-tags/policies/accounts/{accountName}/comments:
    get:
      tags:
      - Automatic Tags
      summary: Get account auto tag policies on comments
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2: []
      parameters:
      - name: accountName
        in: path
        required: true
        description: account name to get auto tag policies
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentAutoTagPolicies'
      operationId: getApiV1AutomaticTagsPoliciesAccountsByAccountNameComments
      x-operation-id-source: derived
    put:
      tags:
      - Automatic Tags
      summary: Update account auto tag policies on comments
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2: []
      parameters:
      - name: accountName
        in: path
        required: true
        description: account name to update auto tag policies
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                review:
                  description: Auto tags that automatically set the comment in review state
                  type: array
                  items:
                    type: string
      responses:
        '204':
          description: successful operation
      operationId: putApiV1AutomaticTagsPoliciesAccountsByAccountNameComments
      x-operation-id-source: derived
  /api/v1/automatic-tags/accounts/{accountName}/available:
    get:
      tags:
      - Automatic Tags
      summary: Get account available auto tags
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2: []
      parameters:
      - name: accountName
        in: path
        required: true
        description: account name to get auto tag policies
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomaticTagAvailable'
      operationId: getApiV1AutomaticTagsAccountsByAccountNameAvailable
      x-operation-id-source: derived
  /api/v1/automatic-tags/server/available:
    get:
      tags:
      - Automatic Tags
      summary: Get server available auto tags
      description: '**PeerTube >= 6.2**'
      security:
      - OAuth2:
        - admin
        - moderator
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomaticTagAvailable'
      operationId: getApiV1AutomaticTagsServerAvailable
      x-operation-id-source: derived
components:
  schemas:
    AutomaticTagAvailable:
      properties:
        available:
          type: array
          description: Available auto tags that can be used to filter objects or set a comment in review state
          items:
            type: object
            properties:
              name:
                type: string
                description: tag name
              type:
                type: string
                enum:
                - core
                - watched-words-list
    CommentAutoTagPolicies:
      properties:
        review:
          type: array
          description: Auto tags that automatically set the comment in review state
          items:
            type: string
  securitySchemes:
    OAuth2:
      description: 'Authenticating via OAuth requires the following steps:

        - Have an activated account

        - [Generate] an access token for that account at `/api/v1/users/token`.

        - Make requests with the *Authorization: Bearer <token\>* header

        - Profit, depending on the role assigned to the account


        Note that the __access token is valid for 1 day__ and is given

        along with a __refresh token valid for 2 weeks__.


        [Generate]: https://docs.joinpeertube.org/api/rest-getting-started

        '
      type: oauth2
      flows:
        password:
          tokenUrl: /api/v1/users/token
          scopes:
            admin: Admin scope
            moderator: Moderator scope
            user: User scope
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
x-tagGroups:
- name: Static endpoints
  tags:
  - Static Video Files
- name: Download
  tags:
  - Video Download
- name: Feeds
  tags:
  - Video Feeds
- name: Auth
  tags:
  - Register
  - Session
- name: Accounts
  tags:
  - Accounts
  - Users
  - User Exports
  - User Imports
  - My User
  - My Subscriptions
  - My Notifications
  - My History
- name: Videos
  tags:
  - Video
  - Video Upload
  - Video Imports
  - Video Captions
  - Video Chapters
  - Video Channels
  - Video Comments
  - Video Rates
  - Video Playlists
  - Video Stats
  - Ownership Change
  - Video Mirroring
  - Video Files
  - Video Transcoding
  - Live Videos
  - Channels Sync
  - Video Passwords
  - Video Embed Privacy
- name: Search
  tags:
  - Search
- name: Moderation
  tags:
  - Abuses
  - Video Blocks
  - Account Blocklist
  - Server Blocklist
  - Automatic Tags
  - Watched Words
- name: Instance
  tags:
  - Config
  - Client Config
  - Homepage
  - Instance Follows
  - Instance Redundancy
  - Plugins
  - Stats
  - Logs
  - Job
- name: Remote Jobs
  tags:
  - Runner Registration Token
  - Runner Jobs
  - Runners
