openapi: 3.2.0
info:
  title: PeerTube Video Embed Privacy API
  version: 8.1.0
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
  description: The PeerTube API is built on HTTP(S) and is RESTful.
servers:
- url: https://peertube2.cpy.re
  description: Live Test Server (live data - latest nightly version)
- url: https://peertube3.cpy.re
  description: Live Test Server (live data - latest RC version)
- url: https://peertube.cpy.re
  description: Live Test Server (live data - stable version)
tags:
- name: Video Embed Privacy
paths:
  /api/v1/videos/{id}/embed-privacy:
    get:
      summary: Get video embed privacy
      description: '**PeerTube >= 8.1**'
      operationId: getVideoEmbedPrivacy
      security:
      - OAuth2:
        - user
      tags:
      - Video Embed Privacy
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy:
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/VideoEmbedPrivacy'
                      label:
                        type: string
                        example: Allowlist
                  domains:
                    type: array
                    items:
                      type: string
                      example: example.com
        '400':
          description: invalid request
    put:
      summary: Update video embed privacy
      description: '**PeerTube >= 8.1**'
      operationId: updateVideoEmbedPrivacy
      security:
      - OAuth2:
        - user
      tags:
      - Video Embed Privacy
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                policy:
                  $ref: '#/components/schemas/VideoEmbedPrivacy'
                domains:
                  type: array
                  items:
                    type: string
                    example: example.com
      responses:
        '204':
          description: successful operation
        '400':
          description: invalid request
  /api/v1/videos/{id}/embed-privacy/allowed:
    get:
      summary: Check if embed is allowed
      description: '**PeerTube >= 8.1** Check if video embed is allowed on a specific domain according to the video embed privacy settings'
      operationId: isVideoEmbedOnDomainAllowed
      security:
      - OAuth2:
        - user
      tags:
      - Video Embed Privacy
      parameters:
      - $ref: '#/components/parameters/idOrUUID'
      - name: domain
        in: query
        required: true
        schema:
          type: string
        description: The domain to check if embed is allowed
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  domainAllowed:
                    type: boolean
                  userBypassAllowed:
                    description: Whether the user can bypass embed restrictions for this video, either because they are the owner/editor of the video or because they have a moderator or admin role
                    type:
                    - boolean
                    - 'null'
        '400':
          description: invalid request
components:
  parameters:
    idOrUUID:
      name: id
      in: path
      required: true
      description: The object id, uuid or short uuid
      schema:
        oneOf:
        - $ref: '#/components/schemas/id'
        - $ref: '#/components/schemas/UUIDv4'
        - $ref: '#/components/schemas/shortUUID'
  schemas:
    shortUUID:
      type: string
      description: translation of a uuid v4 with a bigger alphabet to have a shorter uuid
      example: 2y84q2MQUMWPbiEcxNXMgC
    UUIDv4:
      type: string
      format: uuid
      example: 9c9de5e8-0a1e-484a-b099-e80766180a6d
      pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      minLength: 36
      maxLength: 36
    VideoEmbedPrivacy:
      type: integer
      enum:
      - 1
      - 2
      - 3
      description: "The video embed privacy level:\n  - `1` All allowed: anyone can embed the video\n  - `2` Allowlist: only the domains in the allowlist can embed the video\n  - `3` Remote restrictions: the remote instance has restrictions on where the video can be embedded\n"
    id:
      type: integer
      minimum: 1
      example: 42
  securitySchemes:
    OAuth2:
      description: 'Authenticating via OAuth requires the following steps:

        - Have an activated account

        - [Generate] an access token for that account at `/api/v1/users/token`.

        - Make requests with the *Authorization: Bearer <token\>* header

        - Profit, depending on the role assigned to the account


        Note that the __access token is valid for 1 day__ and is given

        along with a __refresh token valid for 2 weeks__.


        [Generate]: https://docs.joinpeertube.org/api/rest-getting-started

        '
      type: oauth2
      flows:
        password:
          tokenUrl: /api/v1/users/token
          scopes:
            admin: Admin scope
            moderator: Moderator scope
            user: User scope
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
x-tagGroups:
- name: Static endpoints
  tags:
  - Static Video Files
- name: Download
  tags:
  - Video Download
- name: Feeds
  tags:
  - Video Feeds
- name: Auth
  tags:
  - Register
  - Session
- name: Accounts
  tags:
  - Accounts
  - Users
  - User Exports
  - User Imports
  - My User
  - My Subscriptions
  - My Notifications
  - My History
- name: Videos
  tags:
  - Video
  - Video Upload
  - Video Imports
  - Video Captions
  - Video Chapters
  - Video Channels
  - Video Comments
  - Video Rates
  - Video Playlists
  - Video Stats
  - Ownership Change
  - Video Mirroring
  - Video Files
  - Video Transcoding
  - Live Videos
  - Channels Sync
  - Video Passwords
  - Video Embed Privacy
- name: Search
  tags:
  - Search
- name: Moderation
  tags:
  - Abuses
  - Video Blocks
  - Account Blocklist
  - Server Blocklist
  - Automatic Tags
  - Watched Words
- name: Instance
  tags:
  - Config
  - Client Config
  - Homepage
  - Instance Follows
  - Instance Redundancy
  - Plugins
  - Stats
  - Logs
  - Job
- name: Remote Jobs
  tags:
  - Runner Registration Token
  - Runner Jobs
  - Runners
